@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  background-color: #FBF0B2;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;

}
.st-finalBlock {
  padding: 10px;
  text-align: center;

}
.st-dotTxt {
  color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: #F2CFEE;
    border: 1px solid #000;

    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.header img {
    height: 75px;
}
.title {
    font-size: 24px;
    margin-left: 10px;

}
.header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-right: 50px;
    padding-left: auto;
}




.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.form-container div {
    margin: 10px;
}


.form-container label {
    font-size: 18px;
    margin-right: 10px;
    text-align: left;

}
.form-container select,
.form-container input {
    font-size: 18px;
    padding: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #F2CFEE;
    width: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;

}
.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #F2CFEE;
    border-radius: 5px;
     font-family: 'DotGothic16', sans-serif;
}
#time, #calorie {
  width: 100px;
}
#ex_ID{
	width:215px;
}

body, html {
    margin: 0;
    padding: 0;
}
input, select {
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

