@charset "UTF-8";

/* hedder */
body {
	margin:0;
}

.header {
	display: flex;
	align-items: center;
	background-color: #F2CFEE; 
	width: 100%;
}
.header img {
	height: 75px;
}
.title {
	font-size: 24px;
	margin-left: 10px;
	text-align: center;

}
.header .title {
	flex-grow: 1;
	text-align: center;
	font-size: 24px;
	margin: 0;
}


/* main */

/*タブ切り替え全体のスタイル*/
.tabs {
	margin:50px auto;
    width: 95%;
    height: 50%;
    border-radius: 20px;
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/2);
    border-radius: 20px;
    background-color: #FAFAFA;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    clear: both;
    overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#one:checked ~ #one_content,
#all:checked ~ #all_content {
    display: block;
}
/*選択されているタブのスタイル*/
.tabs input:checked + .tab_item {
    background-color: #F2CEFF;
}

/* カルーセル */

.c-carousel {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.c-carousel__activator-main {
	position: absolute;
	z-index: -1;
opacity: 0;
}
.c-carousel__main {
	overflow: hidden;
	position: relative;
}
.c-carousel__main-track {
	display: flex;
	white-space: nowrap;
	transition: transform 0.3s ease-out;
}
.c-carousel__main-item {
	flex-shrink: 0;
	width: 100%;
}
.c-carousel__main-image1 {
	display: block;
	width: 80%;
	margin: auto;
	padding:10px 0;
}
.c-carousel__main-image2 {
	display: block;
	width: 80%;
	margin: auto;
	padding:66px 0;
}
.c-carousel__main-image3 {
	display: block;
	width: 65%;
	margin: auto;
	padding:15px 0;
}
.c-carousel__main-image4 {
	display: block;
	width: 80%;
	margin: auto;
	padding:35px 0;
}
.c-carousel__main-image5 {
	display: block;
	width: 80%;
	margin: auto;
	padding:38px 0;
}
.c-carousel__main-image_secret {
	display: block;
	width: 80%;
	margin: auto;
	align-items: center;
	padding-top :30px;
}

.c-carousel__main-control-item {
	  display: none;
}
.c-carousel__btn-prev-main, .c-carousel__btn-next-main {
	position: absolute;
	top: 50%;
	right: 16px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,0);
	border-radius: 50%;
	transition: opacity 0.3s;
	cursor: pointer;
}
.c-carousel__btn-prev-main {
	left: 0;
}
.c-carousel__btn-next-main {
	right: 0;
}
/* スライド */
.c-carousel__activator-main:nth-child(1):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(1) {
	display: block;
}
.c-carousel__activator-main:nth-child(2):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(2) {
	display: block;
}
.c-carousel__activator-main:nth-child(3):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(3) {
	display: block;
}
.c-carousel__activator-main:nth-child(4):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(4) {
	display: block;
}
.c-carousel__activator-main:nth-child(5):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(5) {
	display: block;
}
/* anime-syon */
.c-carousel__activator-main:nth-child(1):checked ~ .c-carousel__main .c-carousel__main-track {
	transform: translateX(calc(-100% * 0));
}
.c-carousel__activator-main:nth-child(2):checked ~ .c-carousel__main .c-carousel__main-track {
	transform: translateX(calc(-100% * 1));
}
.c-carousel__activator-main:nth-child(3):checked ~ .c-carousel__main .c-carousel__main-track {
	transform: translateX(calc(-100% * 2));
}
.c-carousel__activator-main:nth-child(4):checked ~ .c-carousel__main .c-carousel__main-track {
	transform: translateX(calc(-100% * 3));
}
.c-carousel__activator-main:nth-child(5):checked ~ .c-carousel__main .c-carousel__main-track {
	transform: translateX(calc(-100% * 4));
}
.evolevel{
	font-size:20px;
	padding-left:20px;
}



/* footer */

/* other */