 @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.template-color-sample{
color:#FBF0B2;
color:#F2CFEE;
}
body {
  background-color: #FBF0B2;
  font-family: 'DotGothic16' ,sans-serif;
  border: #F2CFEE;
  margin:0;
}
/*button{
  font-family: 'DotGothic16' ,sans-serif;
  box-sizing: border-box;
	padding: 0.3em;
	border-radius: 30px;
  border-color: #F2CFEE;
	text-align: center;
	background: #FFFFFF;
	box-align: center;
}
button:focus{
  font-family: 'DotGothic16' ,sans-serif;
  border-color: #F2CFEE;
  background: #F2CFEE;
}*/



button{
  font-family: 'DotGothic16' ,sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:50px;
  padding-left:50px;
  border-radius: 10px;
  border-color: #000000;
  background-color: #FFFFFF;
  font-size:18px;
}


#register{
  font-family: 'DotGothic16' ,sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:50px;
  padding-left:50px;
  border-radius: 10px;
  border-color: #000000;
  background-color: #FFFFFF;
  font-size:18px;
}

header {
     background-color: #F2CFEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    text-align: center;
    width:100%;
}
.texthani{
    text-align: center;
}
.texthyou{
	margin-left:46px;
}


.causiontext{
    font-size: 12px;
}

.osanpotext{
    font-size: 25px;
}